* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

html,body {
  height: 100%;
}

body {
  background-color: #F5F5F5;
}


a {
  color: #333333;
  text-decoration: none;
}

/* -------------------- header -------------------- */

.header {
  height: 64px;
  margin-bottom: 64px;
  width: 100%;
  background-color: white;
  float: left;
  border-bottom: solid 2px #ccc;
}

.logo {
  margin: 16px;
  color: #333333;
  display: inline-block;
}

ul {
  list-style: none;
}

.nav-items {
  padding: 0px;
}

.nav-item {
  display: inline-block;
  margin-right: 8px;
}

/* -------------------- main -------------------- */

.main .contents {
  text-align: center;
}

.key-visual {
  margin: 24px;
}

.main .contents .top-contents {
  background-image: url(/media/images/topPage.jpg);
}

/* -------------------- contents -------------------- */

.content-article {
  height: auto;
  width: 64%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;s

}

.like {
  margin-top: 8px;
  padding-bottom: 8px;
}

.like a {
  color: #333333;
}

.like a i {
  margin-right: 3px;
}

/* -------------------- top-page -------------------- */
.toppage {
  margin-top: 16px;
}

/* -------------------- footer -------------------- */
.footer {
    height: 128px;
    width: 100%;
    background-color: #FAFAFA;
    border-top: solid 2px #ccc;
    margin-top: 16px;
}

.footer ul {
  padding: 32px 0 8px 64px;
}

.footer p {
  text-align: center;
  padding: auto;
}
