* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

html,body {
  height: 100%;
}

body {
  /* background-color: #F5F5F5; */
  background-color: #DADDE2;
}


a {
  color: #333333;
  text-decoration: none;
}

/* -------------------- header -------------------- */

.header {
  height: 64px;
  width: 100%;
  background-color: white;
  border-bottom: solid 2px #ccc;
}

.logo {
  margin: 16px;
  /* color: #333333; */
  display: inline-block;
}

ul {
  list-style: none;
}

.nav-items {
  padding: 0px;
  float: left;
  color: #3B3B3B;
}

.nav-item {
  display: inline-block;
  margin-right: 8px;
}

/* -------------------- main -------------------- */

.main .contents .top-contents {
  background-image: url(/media/images/topPage.jpg);
  text-align: center;
  color: #E6F4F1;
}

.main .contents .top-contents h1 {
  font-size: 3rem;
  padding: 64px;
}

.key-visual {
  padding-bottom: 7rem;
}

.key-visual p {
  padding-bottom: 0.75rem;
}

.main .content {
  text-align: center;
  color: #3B3B3B;
}

.main .content h3 {
  margin: 2rem 0;
}

.topics {
  background-color: #FFFFFF;
  margin: 16px auto;
  height: 32px;
  width: 500px;
  border-radius: 8px;
}

/* -------------------- view_article - contents -------------------- */

.contents-article {
  text-align: center;
}

.content-article {
  width: 64%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.content-article h3 {
  padding: 2rem;
}

.like {
  margin-top: 8px;
  padding-bottom: 8px;
}

.like a {
  color: #333333;
}

.like a i {
  margin-right: 3px;
}

/* -------------------- top-page -------------------- */
.toppage {
  margin-top: 16px;
}

/* -------------------- footer -------------------- */
.footer {
    height: 128px;
    width: 100%;
    background-color: #FAFAFA;
    border-top: solid 2px #ccc;
    margin-top: 16px;
}

.footer ul {
  padding: 32px 0 8px 64px;
}

.footer p {
  text-align: center;
  padding: auto;
}
