* {
  box-sizing: border-box;
}

body {
    margin: 0;
}
/* -------------------- header -------------------- */
header {
   height: 65px;
   width: 100%;
   background-color: rgba(34, 49, 52, 0.9);
   position: fixed;
   top: 0;
   z-index: 10;
}

.logo {
  color: white;
  margin: 10px;
}

.header-left {
    float: left;
}

.header-right {
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 0px;
  padding: 0 0px;
  color: white;
  display: block;
}

.fas.menu-icon {
  display: none;
}
/* -------------------- top -------------------- */
.top-wrapper {
    width: auto;
}

.container {
    background-image: url(https://bebe.jpn.com/wp-content/uploads/2018/10/fullsizeoutput_226.jpeg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.9;
    font-size: 45px;
    letter-spacing: 6px;
    padding: 110px 0 50px 0;
    margin: 0px;
}

.top-wrapper p {
    opacity: 0.9;
    letter-spacing: 2px;
}

.comments {
  font-size: 40px;
}
/* -------------------- btn -------------------- */
.btn-wrapper {
    margin-top: 20px;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn {
    padding: 8px 15px;
    margin: 10px 5px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
}

.btn:hover {
    opacity: 1;
}
/* -------------------- signup -------------------- */
.signup {
    background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.line {
    background-color: #00B900;
}

.sns {
    margin-right: 5px;
}
/* -------------------- main -------------------- */
.topics {
  padding: 50px;
  width: auto;
  text-align: center;
  color: white;
  background-color: #66FFCC;
}

.more {
  cursor: pointer;
  box-shadow: 3px 3px #1a7940;
  background-color: rgba(255, 255, 204, 0.9)
}

.more:hover {
  opacity: 1;
}

.more:active {
  box-shadow: none;
  position: relative;
  top: 3px;
  left: 3px;
  transition: all 0.15s;
}
