<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
<meta charset="utf-8">
<title>あんにょん</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>-->
<!--    <style>body {padding-top: 80px;}</style>-->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/btn.css' %}">
<link rel="stylesheet" href="{% static 'css/topics.css' %}">
<link rel="stylesheet" href="{% static 'css/textbox.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>

<!--                    header                    -->

<div class='header'>
  <nav>
    <ul class="nav-items">
      <a href='{% url "index" %}' class="logo" ><h1>あんにょん</h1></a>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <span class=''>{{ user }} - </span>
      </li>
      <li class="nav-item">
        <a href='{% url "logout" %}' class='logout'>Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href='{% url "login" %}' class='login'>Login</a>
      </li>
      <li class="nav-item">
        <a href='{% url "accounts:signup" %}' class='signup'>Sign up</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!--                    main                    -->

<div class="main">
  {% block content %}
  {% endblock %}
</div>

<!--                    footer                    -->

<div class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><a href=""> - About</a></li>
        <li><a href=""> - Contact</a></li>
      </ul>
    </nav>
    <p>@2020 made in ShogoIkeda</p>
  </div>
</div>
</body>
</html>
