{% extends 'layout.html' %}
{% block content %}
  <div class="viewall-contents">
    <h3>タイトル一覧</h3>
<!--    {% for article in articles %}-->
<!--    <p class="topics"><a href="{% url 'view_article' article.pk %}">{{ article.title }}</a></p>-->
<!--    <a href="{% url 'edit' article.pk %}" class="btn btn-border"><span>編集</span></a>-->
<!--    <a href="{% url 'delete' article.pk %}" class="btn btn-border"><span>削除</span></a>-->
<!--    {% endfor %}-->
    {% for article in object_list %}
    <p class="topics">
      <a href="{% url 'view_article' article.pk %}">
        {{ article.title }}
      </a>
    </p>
    {% endfor %}
    <div>
        <a href="{% url 'index' %}" class="btn btn-border"><span class="toppage">トップページへ</span></a>
    </div>
  </div>
{% endblock %}
