{% extends './base.html' %}
{% block content %}
<div class="contents">
  <h1>あんにょん</h1>
    <div class="key-visual">
        <div>
            <p>韓国語の本場の発音を学ぶ！</p>
            <p>友達を増やすにも最高の場となる。</p>
        </div>
    </div>
    <div class="content">
        <div>
            <p>最新の記事</p>
            {% for article in articles %}
              <a href="{% url 'view_article' article.pk %}" class=""><p class="topics">{{ article.title }} - {{ article.posted_at }}</p></a>
            {% endfor %}
            <div>
              <a href="{% url 'article_all' %}" class="btn btn-border"><span>記事一覧へ</span></a>
            </div>
            <div>
              <a href="{% url 'new' %}" class="btn btn-border"><span>記事投稿へ</span></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
