{% extends './base.html' %}
{% block content %}
  <div class="create-contents">
    <h3>あんにょん</h3>
    <form action="" method="post">
        {% csrf_token %}
        <p><label for="title_input">title</label></p>
        <p><input type="text" name="title" id="title_input"></p>
        <p><label for="text_area">Text</label></p>
        <p><textarea name="text" id="text_area" cols="30" rows="10"></textarea></p>
        <p><button type="submit"> 投稿する</button></p>
    </form>
    <a href="{% url 'index' %}" class="btn btn-border"><span class="toppage">トップページへ</span></a>
  </div>
{% endblock %}
